/*
            make sure you include the following CSS
            in html file outside scope of <zero-md> :
              <style type="text/css">
                body {
                  background:  #012430;
                  padding:  20px 20px;
                  margin: 10px 10px;
                }
              </style>
*/

      @import url('https://fonts.googleapis.com/css2?family=Overpass:wght@800&display=swap');

      * { font-family: 'Overpass', sans-serif; }

      .markdown-body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      p, h1, h2, h3, ol, ul {
        color:  white;
      }

      p { width:  37%; }

      p > img { height: 1000px; }

      .language-markup {
        background: #3c484d;
        color:  #729dab;
      }
